@charset "utf-8";
/* CSS Document */
*{margin:0 auto; padding:0px;}
ul,li{ list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
body{ font-family:"微软雅黑"; font-size:12px; line-height:26px;}
.fl{ float:left;}
.fla{ float:right;}
.ri{ float:right;}
.ria{ float:left;}
.cl{ clear:both;}
h1{font-size:14px; font-weight:normal;}
img{ overflow:hidden;border:0px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;padding-bottom:4px;}
/*首页*/
 .tit{ width:100%; height:38px; border-bottom:#8a0208 solid 2px; font-size:12px;}
.tit_cen{ width:1000px; line-height:38px;}
.tit_cen h1{ font-size:12px; color:#000;}
.tit_cen ul{ width:250px;}
.tit_cen ul li{ float:left; display:block;}
.tit_cen ul li span{padding:0 8px; color:#000;}
.tit_cen ul li a{ color:#000;}
.about_us_title {color: #cc1213;font-weight: bold;}
.comm_con {font-size: 14px;line-height: 28px;padding: 10px;}
.logo{ width:100%; height:108px;}
.logo_cen{ width:1000px; height:108px;}
.logo_l{padding-top:26px;}
.logo_linput{width:460px;height:45px; border:#CCC solid 1px;line-height:45px; padding-left:10px;}
.logo_r{ padding-top:30px;}
.logo_rinput{width:120px; height:47px; border:0px; background:#c7000a;color:#fff;font-size:14px; font-weight:bold;}
.menu{ width:100%; height:50px; border-bottom:#8a0208 solid 2px; background:#c7000a;}
.menu_cen{ width:1000px; height:38px; background:#c7000a;}
.menu_cen ul li{ float:left; color:#FFFFFF; line-height:50px; padding:0 26px; font-size:16px;}
.menu_cen ul li span{ display:block; width:2px; height:24px; float:left;}
.menu_cen ul li a{ color:#FFFFFF;}
.com_a_botimg{vertical-align:top;}
.menu_cen ul .menu_bg{ background:#e43e45;}
.menu_cen ul .menu_bg a{color:#fff;}
#menu_bg a{}
.common{ width:1000px;padding-bottom:10px;}
.commen{ width:1000px;zoom:1;}
.commen:after{clear:both; display:block; visibility:hidden; height:0;
 line-height:0;content:'';}
 
/*.foucs_pic{width:1000px;height:370px;position:relative;margin-top: 15px;overflow: hidden;}*/
.foucs_pic{width:1000px;height:370px;position:relative;margin-top: 15px;overflow: hidden;float:left}

/*.pic_lists li{display:block;height:370px;width:1000px;position:absolute;top:0;left:0;z-index:1}*/
.pic_lists li{height:370px;width:1000px;float:left}


/*.foucs_pic .r_panel{height:368px;width:299px;background-color:#fafafa;position:absolute;top:0;right:0;border:1px solid #ddd;border-left:none}*/
.foucs_pic .r_panel{height:368px;width:299px;background-color:#fafafa;border:1px solid #ddd;border-left:none;float:right}

.foucs_pic .r_panel .wrap{padding:18px 20px 0}
.foucs_pic .r_panel .wrap .titleaa{font:30px/45px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";color:#333}
.foucs_pic .r_panel .wrap .titleaa a{color: #000;}
.foucs_pic .r_panel .wrap .intro{margin-top:15px;line-height:22px;color:#666}

.foucs_pic .mini_nav{position:absolute;display:block;right:18px;bottom:40px;z-index:1000}
.foucs_pic .mini_nav li,.mini_task li{float:left;display:block;height:7px;width:16px}
.foucs_pic .mini_nav li a,.mini_task li a{display:block;height:7px;width:16px;background:url(../images/auto_sprite_06.jpg) no-repeat; overflow:hidden}
.foucs_pic .mini_nav li.active a,.mini_task li.active a{background:url(../images/auto_sprite_03.jpg) no-repeat;}

#focusGoL,#focusGoR{ position:absolute; top:157px; cursor:pointer; overflow:hidden; width:56px; height:56px; z-index:98; text-indent:-999em;}
#focusGoL{ left:0;}
#focusGoR{ left:644px;}
#focusGoL:link,#focusGoL:visited{ background:url("http://mat1.gtimg.com/auto/2014/images/goL.png") no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://mat1.gtimg.com/auto/2014/images/goL.png",sizingMethod="crop"); _background-image:none;}
#focusGoL:hover,#focusGoL:active{ background:url("http://mat1.gtimg.com/auto/2014/images/goLOn.png") no-repeat;}
#focusGoR:link,#focusGoR:visited{ background:url("http://mat1.gtimg.com/auto/2014/images/goR.png") no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://mat1.gtimg.com/auto/2014/images/goR.png",sizingMethod="crop"); _background-image:none;}
#focusGoR:hover,#focusGoR:active{ background:url("http://mat1.gtimg.com/auto/2014/images/goROn.png") no-repeat;} 
.news{margin:10px 0; width:1000px;}
.news:after{clear:both; display:block; visibility:hidden; height:0;
 line-height:0;content:'';}
.news_la{ width:320px; float:left;}
.news_tita{border-bottom:#c7000a solid 2px;}
.news_tita h1{ font-size:16px; height:35px; line-height:35px; color:#8a0208;}
.news_tita h1 span{ font-size:14px; font-weight:normal;}
.news_tita h1 span a{ color:#000000;}
.news_cenaa{}
.news_cenaa h1{font-size:16px; font-weight:normal;padding:8px 0;}
.news_cenaa h1 a{color: #000;}
.news_cenaa p{ color:#666; font-size:12px; line-height:22px;}
.news_cenaa p a{color: #666;height:128px;display:block;overflow:hidden;}
.news_cenaa p img{ float:right; border:#ccc solid 1px; padding:4px;margin-left:8px;}
.news_cenaa ul{padding-top:10px;}
.news_cenaa ul li{ line-height:26px;}
.news_cenaa ul li a{ color:#000000;}
.footer {text-align: center;padding-top: 10px;background: #267896;color: #fff;}
.footer ul {}
.footer ul li {line-height: 25px;}
#foot_id {border-bottom: #ccc solid 1px;padding-bottom: 5px;margin-bottom: 5px;}
.footer ul li a {margin: 0 15px;color: #000;}
.ban{ width:1000px; height:90px;}
.com_a_top{ height:39px; border-bottom:#c7000a solid 1px; background:#DFDFDF;}
.com_a_topa{ background:none;}
.com_a_topa h1{ background:url(../images/bg3.jpg) no-repeat 10px 10px;}
.com_a_bot{border:#e7edf3 solid 1px; border-top:none;}
.com_a_top h1{ border-bottom:#c7000a solid 2px; float:left; line-height:37px; padding:0 20px; font-weight:bold; color:#000;}
.com_a_top span{ line-height:37px; padding-right:10px;}
.com_a_top span a{ color:#778006;}
.com_a_lr ul{ padding-top:10px;}
.com_a_lr ul li{ background:url(../images/bga.jpg) no-repeat 0 12px; padding-left:15px;}
.com_a_r{ width:320px;}
.submit{ width:100px; height:40px; border:0px; background:url(../images/bgb_10.html) no-repeat 75px 14px; color:#FFFFFF; font-weight:bold; background-color:#0282d9; line-height:none;}
.com_a_input{ width:244px; height:36px; line-height:36px; padding-left:10px;}
.radio{ vertical-align:text-bottom;margin:0 5px 0 8px;}
.com_a_bota{padding:3px 0;}
.com_ba,.com_bc{ width:320px;}
.com_bb{ width:340px; padding-left:10px;}
.com_ba_bot{ width:318px; border:#e7edf3 solid 1px; border-top:none;}
.com_ba_bot p{ float:left; padding:15px 0 10px 11px;}
.com_ba_bot ul{padding:10px;}
.com_ba_bot ul li{ background:url(../images/bga.jpg) no-repeat 0px 12px; padding-left:15px;}
.com_ba_bot ul li a{ color:#000000;}
.banner{ width:1000px; height:90px;}
.com_ba_botaa{ width:338px;}
.com_ba_bota{ width:338px;height:229px;}
.com_ba_bota ul li{ line-height:26px; background:none; padding-left:20px; width:130px; float: left;}
.links_bot{ width:998px; border:#e7edf3 solid 1px; border-top:none;}
.links_bot a{margin:10px 0 10px 9px;  float:left; border:#cccccc solid 1px; width:130px;height:65px;}
.links_bot a img{overflow: hidden;}
.foot{margin: 8px auto 0 auto; width: 100%; position: absolute;bottom: 0;left: 0;overflow: hidden;padding-bottom: 8px;word-spacing: 3px;zoom: 1;}
.footer{ text-align:center; padding-top:10px; background:#c7000a; color:#FFFFFF;}
.footer ul{}
.footer ul li{ line-height:25px;}
#foot_id{ border-bottom:#ccc solid 1px; padding-bottom:5px; margin-bottom:5px;}
.footer ul li a{margin:0 15px; color:#000;}


/*新闻列表页*/
.currency{ width:1000px; border-bottom:#8a0208 solid 2px; height:38px; line-height:38px;}
.currency_a{width: 670px;margin-bottom: 10px;}
.currency h1{ color:#000;}
.currency h1 a{ color:#000;}
.news_l{ width:670px; padding-top:10px;}
.news_r{ width:320px; }
.news_h1{ background:url(../images/bg3.jpg) no-repeat 10px 10px;}
.media-tit {background:url(../images/bga.jpg) no-repeat 5px 15px;height: 32px;line-height: 32px;overflow: hidden;padding-left: 20px; font-size:16px;}
.media-tit a{ color:#000000;}
.medianame {margin-left: 15px; font-size:12px; color:#666;}
.medieatime {color: #666;font-size: 12px;float:right;font-weight: normal;}
.paginator {clear: both;text-align: center;}
.prev {color: #666;margin-right: 0.5em;}
.on {background:#be0e1c;color:#fff;font-weight: bold;}
.paginator a, .paginator span {border: 1px solid #ccc;margin: 2px;padding: 4px 7px;}
.paginator a{ color:#000000;}


/*新闻内容页*/
.news_tit{ text-align:center;color:#000; }
.news_tit h1{border-bottom:#e7edf3 solid 1px; font-size:18px; font-weight:bold;padding-bottom:15px;}
.news_tit p{ font-size:12px;}
.news_cen{padding:10px; width:648px;}
.news_cen p{ padding-top:10px; text-indent:2em;}
.news_bot{ text-align:right; padding:0 10px 35px; font-size:12px; border-bottom:#8a0208 solid 2px; padding-top:10px;}
.news_yx{float:right;padding:9px 10px 10px; font-size:12px;width:325px;}
.news_bot a{ color:#000000;}
.exposal{padding:0 10px 10px 10px;}
.exposal table tr td{ line-height:30px; border-bottom:#ccc dashed 1px;}
.exposal table tr td a{ color:#000000;}
.exp_size{ font-size:12px;}
.exp_color{ color:#d98202; font-weight:bold;}
.exposal_r{ margin-top:10px;}
.exposal_r h1{ background:url(../images/exp_03.html) no-repeat; width:320px; height:38px; text-align:center; padding-top:8px; font-weight:bold; color:#FFFFFF;}
.exposal_r ul{ width:318px; border:#ccc solid 1px; border-top:none;padding-bottom:15px;}
.exposal_r ul li{ float:left; text-align:center; line-height:39px; color:#FFFFFF; font-weight:bold; margin:15px 15px 0px 15px; display:inline;}
.exposal_r ul li a{ color:#FFFFFF;}
.exp_r_l{ width:127px; height:40px; background:#013275;}
.exp_r_r{ width:127px; height:39px; border-bottom:#013275 solid 1px; background:#0282d9;}


/*查询列表*/
.inquiry{}
.inquiry h1{ color:#013275; font-size:12px;border-bottom:#e7edf3 solid 1px;}
.inquiry h1 b{ color:#d98202;}

.inq_cen{ border-bottom:#ccc solid 1px; padding:20px 0 10px 0;font-size:12px;}
.inq_cen ul{}
.inq_cen ul li{ line-height:28px;}
.inq_cen ul li span{ padding-right:40px;}
.inq_cen ul li span a{ color:#d98202; font-weight:bold; padding:0 3px;}
#explain{font-weight:normal; color:#666666;}
.inq_jl{ font-weight:bold; color:#d98202;}
.inq_tit{font-size:16px; font-weight:bold; color:#013275;}
#inq_zc{ background:#0282d9; padding:3px; font-size:12px; color:#FFFFFF; padding-right:none;}
#inq_dx{ background:red; padding:3px; font-size:12px; color:#FFFFFF; padding-right:none;}
#inq_zx{ background:#CDC9C9; padding:3px; font-size:12px; color:#FFFFFF; padding-right:none;}
.detail{ color:#d98202; font-weight:bold;} 


/*杂志列表*/
.records{ padding:0 10px;}
.records_cen{ width:315px; float:left; padding:10px 5px 10px 5px;}
.records_cen_l{ width:139px;}
.records_cen_l h1{ background:#f3f8ff; padding:10px; width:120px; height:162px;}
.records_cen_l h1 img{ border:#ccc solid 1px; overflow:hidden;}
.records_cen_r{ width:165px; padding-left:10px;}
.records_cen_r h1{}
.records_cen_r h1 span{font-size:12px; color:#666666;}
.records_cen_r p{ font-size:12px;}

/*组织机构*/
.tissue{padding:10px;}
.tissue p{ text-indent:2em;}
.arch{width: 318px;
border: #e7edf3 solid 1px;
border-top: none;}
.arch_cen{margin:10px; background:#f3f8fe; border:#e8eff5 solid 1px;}
.arch_cen h1{ text-align:center; width:275px; height:35px; line-height:35px; border-bottom:#013275 solid 1px; background:#0282d9; color:#FFFFFF; margin-top:10px;}
.arch_cen ul{ text-align:center; padding:10px 0px;}
.arch_cen ul li a{ color:#000000;}

/*地区信用*/
.zone{ width:998px; } 
.zon_l{ width:668px; border:#e9eef4 solid 1px;}
.zon_l h1{ width:33px; height:50px; display:block; background:url(../images/bg3.jpg) no-repeat 10px 22px; font-weight:bold; font-size:14px; color:#05336f; line-height:20px; padding:9px 0 0 20px;}
.zon_l ul{margin-top:10px;}
.zon_l ul li{ float:left; display:block; width:75px; text-align:center; line-height:20px;}
.zon_l ul li a{ color:#0183d7;}
.zon_r{ width:308px; border:#e9eef4 solid 1px; padding-left:10px;}
.zon_r h1{padding-top:10px;}
.zon_r ul{padding:8px 0 11px 12px;}
.zon_r ul li{ line-height:20px;}
.zon_r ul li b{ color:#d51917; padding-left:5px;}
.zon_r_hl{ width:35px;  background:#0282d9; display:block; text-align:center; line-height:20px; color:#FFFFFF; font-weight:bold;}
.zon_r_hr{ background:#e8edf3; display:block; line-height:30px; padding:5px 10px; color:#02336e; font-weight:bold;}
/*档案页面*/
.file{ width:648px;border:#e8eef4 solid 1px; padding:0 10px; border-bottom:#013275 solid 2px;}
.file_tit{ }
.file_tit h1{ border-bottom:#ccc dashed 1px; color:#d98202; font-weight:bold; padding:10px 0 5px 0;}
.file_tit span{ line-height:45px;}
.file_tit span a{ color:#FFFFFF;}
.file_con{}
.file_con table{ border-collapse: collapse; border-spacing: 0; margin-top:10px;}
.file_con table tr td{ border:#ccc solid 1px; line-height:40px; padding-left:5px;}
.file_con table tr td strong{ color:#000000;}
.file_con table tr td p{ line-height:26px; padding:10px 10px 0px 10px;}
#inst{ font-size:12px; color:#666666; padding:0px; padding-bottom:10px;}

.file_cona{}
.file_cona table{ border-collapse: collapse; border-spacing: 0; margin-top:10px;}
.file_cona table tr td{ border-bottom:#ccc solid 1px; line-height:30px; padding: 0 5px 0 5px;}
.file_cona table tr td p{ line-height:26px; padding:10px 10px 0px 10px;}
.spread{ width:646px; height:20px; background:#EEEEEE; text-align:center; line-height:20px; border:#ccc solid 1px; border-top:none;}



.file_conb{}
.file_conb table{ border-collapse: collapse; border-spacing: 0; margin:10px 0;}
.file_conb table tr td{ line-height:26px;}
.file_conb table tr td a{ color:#d98202; font-weight:bold; padding:0 3px;}
#exa{ border-bottom:#ccc solid 1px; height:30px;}
#exaa{ border-bottom:#ccc dashed 1px;}
/*行政奖励*/
.inq_cena{ border-bottom:#ccc dashed 1px; padding:10px 0 5px 0;font-size:12px;}
.inq_cena ul{}
.inq_cena ul li{ line-height:26px;}
.inq_cena ul li span{ padding-right:40px;}
.inq_cena_tit{color:#000000; font-size:14px;}
#inq_jla{color:#d98202; padding-right:0px; float:right;}

/*查询*/
.query{}
.query table{ border:#e7edf3 solid 1px; border-top:#013275 solid 1px; margin-top:20px; padding-bottom:10px;}
.query table tr td{ border-bottom:#ccc dashed 1px; line-height:30px;}
.query table tr td a{ border-bottom:#ccc dashed 1px; line-height:30px;color:#000000;}
.query_tit{ text-align:center;}
.query_tit h1{ border-bottom:#e7edf3 solid 1px; padding:8px 0;}

.query_tit form{ padding-top:15px;}
.query_tit form p{ line-height:40px;}
.query_tit form input{ width:150px; height:20px;}
.sele{ width:154px; height:25px; text-align:center;}
.query_tit form p span{ width:190px; height:35px; background:#0282d9; display:block; color:#FFFFFF; font-size:14px; font-weight:bold; line-height:35px;}
.nbsp{ background:#f3f8ff;}
.querya table tr td{ border-bottom:none;}
/*重点人群表格设置  wy add*/
.querya table tr td{ width:202px; height:32px; padding:5px 5px 0px 9px}
.querya table tr td a{ display:block;width:145px; height:30px; border:1px solid #ccc; line-height:30px; background:url("images/zoom.html") 15px center no-repeat #e8edf3; padding-left:40px; color:#333;}
.querya table tr td a:hover{display:block;width:145px; height:30px; border:1px solid #ccc; line-height:30px; background:url("images/zoom2.html") 15px center no-repeat #e3f3c3; padding-left:40px; color:#333;}
#wy{padding-left:20px; color: #05336f;}
/*查询详情*/
.status{ padding-bottom:15px;}
.status ul{}
#degree{ border-bottom:#e7edf3 solid 1px; font-weight:bold; color:#d98202; font-size:14px;}
.status ul li{ border-bottom:#ccc dashed 1px; line-height:30px;}
.status ul li span{ color:#013275; font-size:14px;}

/*政府信用 成员单位*/
.public{}
.public h1{ border-bottom:#e9eef4 solid 1px; padding:5px 0px; font-weight:bold;}
.public a{word-break:keep-all; white-space:nowrap; margin:0 5px; display:inline; color:#000000; line-height:28px;font-size:12px;}
.public table{border-collapse: collapse; border-spacing: 0;}
.public table tr td{ line-height:30px; text-align:center; border:#ccc solid 1px;}

/*首页通栏广告条js样式*/
.container{
	width:998px;
	height:95px;
	border:1px solid #eee;
	position:relative;
}
#idPicText{
	background:#eee;
	line-height:25px;
	text-align:center;
	font-weight:bold;
	width:282px;
	white-space:nowrap;
	overflow:hidden;
	font-size:12px;
}
 
#idPicText a{
	text-decoration:none;
	color:#333;
	display:block;
}
 
 
#idNum{ position:absolute; right:5px; bottom:5px;}
#idNum li{
	float: left;
	list-style:none;
	color: #fff;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	margin: 1px;
	border: 1px solid #707070;
	background-color: #060a0b;
}
#idNum li.on{
	line-height: 18px;
	width: 18px;
	height: 18px;
	font-size: 14px;
	border: 0;
	background-color: #ce0609;
	font-weight: bold;
}

/*组织机构*/
.tissue{padding:10px;}
.tissue p{ text-indent:2em;}
.arch{width: 318px;
border: #e7edf3 solid 1px;
border-top: none;}
.arch_cena{margin:10px; background:#f3f8fe; border:#e8eff5 solid 1px; margin-top:0px;}
.arch_cena h1{ text-align:center; width:275px; height:35px; line-height:35px; border-bottom:#013275 solid 1px; background:#0282d9; color:#FFFFFF; margin-top:10px;}
.arch_cena ul{ text-align:center; padding:10px 0px;}
.arch_cena ul li a{ color:#000000;}


/*搜索样式添加*/

 .bg {
    position: absolute;
    z-index: 999;
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
    left: 0;
    top: 0;
    height: 1200px;
    width: 100%;
}

.beian_winBG {
    margin-top: -120px;
    left: 50%;
    margin-left: -300px;
    position: absolute;
    background: #f9fafa;
    top: 50%;
    border: #c3d4d1 1px solid;
    z-index: 1000;
}

.woaicss {
	width: 410px;
	height: 260px;
	overflow: hidden;
	font-size:14px;
}

.woaicss_title {
	width: 410px;
	height: 36px;
	padding-top: 4px;
	background: #ecf2f1;
	overflow: hidden;
}

.woaicss_title li {
	display: block;
	float: left;
	margin: 0 2px 0 0;
	display: inline;
	text-align: center;
}

.woaicss_title li a {
	display: block;
	padding-left: 20px;
	heigth: 34px;
	line-height: 34px;
	color: #000000;
}

.woaicss_title li a:hover {
	color: #f00;
	text-decoration: underline;
}

.woaicss_title_bg1 {
	background-position: 0 0;
}
.woaicss_con {
	display: block;
	padding-top: 10px;
	width: 410px;
	height: 260px;
	background: #eceeee;
	overflow: hidden;
	margin:0px auto; text-align:center;
}

.woaicss_con ul {
	width: 410px;
	height: 260px;
	margin: 12px auto;
}

.woaicss_con li {
	width: 360px;
	line-height: 40px;
	padding-bottom: 8px;
	margin: 0 auto;
	overflow: hidden;
}
.woaicss_con li span{ padding-left:10px;}


 .aa{ color:#2d64b3;}
.denglu-an{
	padding:10px 100px;
	background: #03358e;
	color:#FFFFFF;
	font-size: 16px;
	border-bottom: 2px solid #003; height:30px; line-height:40px; width:100px;
}
.denglu-an a:hover {
	padding: 10px 50px 10px 50px;
	background: #0448bf;
	color: #ffffff;
	font-size: 16px;
	border-bottom: 2px solid #03358e;
}
/*--------------------------------------------------------------------------------
 新添加样式
---------------------------------------------------------------------------------*/
.link { background:#AA1717 !important; color: #fff !important; padding: 0 5px;_padding: 2px 5px 0; margin-left: 5px; }
.link_fl { float: right;  background:#AA1717 !important; color: #fff !important; padding: 0 5px;_padding: 2px 5px 0;border-radius:3px;}
.h2_title { font-size: 14px; background:#DFDFDF; padding: 5px 10px; border-bottom: 1px solid #dcdcdc; margin-bottom: 10px; border-radius:3px 3px 0 0;}
.h3_title { font-size: 14px; border-bottom: 1px solid #8a0208; margin: 0 15px 10px; color:#c7000a;}
.com_h2 { text-align: center; font-size: 16px; padding: 10px 0;}
/*公司列表页*/
.content_box { border: 1px solid #dcdcdc; padding: 15px 15px;}
.h1ttl { color:#c7000a; font-size: 16px; font-weight: normal;}
.text_table { width: 100%; margin-bottom: 10px;}
.text_table th{ text-align: left; vertical-align: top; color: #999; font-weight: normal; border-bottom: 1px dashed #dcdcdc; padding: 2px 0;}
.text_table td{ text-align: left; vertical-align: top;  border-bottom: 1px dashed #dcdcdc; padding: 2px 0;}
.text_table td a{ color: #333;}
.text_table td a:hover{ color:#AA1717;}
.text_table .tr_boder th,.text_table .tr_boder td { border-bottom: 1px solid #dcdcdc; padding-bottom: 5px;}
.company_tab th{ color: #000; font-weight: bold;}
.company_tab .tr_boder th,.company_tab .tr_boder td { border-bottom: none;}
/*公司基本信息*/
.com_box { border: 1px solid #dcdcdc; border-radius:3px; margin-bottom: 10px;}
.company_text { margin: 0 10px 10px;}
.company_text .p_title { font-size: 16px; font-weight: bold; margin-bottom: 10px;}
.company_text p { line-height: 20px; overflow: hidden; zoom: 1;}
.com_tab {background:#FAFAFA padding: 0 15px 20px;}
.com_tab table { width: 100%;}
.com_tab th,.com_tab td { background:#FAFAFA; vertical-align: top; padding: 2px 0; border-bottom: 1px solid #dcdcdc;}
.com_tab th { vertical-align: top; padding: 2px 0; color: #999; font-weight: normal;}
.com_tab td a { color: #333;}
.com_tab td a:hover { color: #a0cc26;}
.company_ul { margin: 0 10px 15px;}
.company_ul li { overflow: hidden; zoom: 1; border-bottom: 1px dashed #dcdcdc; background: #FAFAFA; padding: 2px 5px;}
.company_ul li span { float: right;}
.company_ul li a { color: #AA1717; font-weight: bold; font-size: 14px;}
.company_ul .bg_no { background: none;}
.mailForm { margin: 10px 10px 0;}
.mailForm table{ width: 100%;}
.mailForm th{ font-weight: normal; text-align: left; vertical-align: top; padding: 2px 0;}
.mailForm th span{ color: #b70000; font-size: 14px; font-weight: bold;}
.mailForm td{text-align: left; vertical-align: middle; padding: 0 0 15px;}
.mailForm table input{ width: 425px; height: 35px; border: 1px solid  #30aedd;  border-radius:3px; line-height: 35px;}
.mailForm table textarea{ width: 585px; height: 200px; border: 1px solid  #30aedd;  border-radius:3px;_width: 575px;}
.mailForm .star li {float: left;height: 13px;width: 14px;background:url(../images/xing02.jpg);margin-right: 4px;}
.mailForm td .jing_bao { color: #b70000; margin-left: 10px; vertical-align: top; display: inline-block;margin-top: 5px;_margin-top: 10px;}
.mailForm td .jing_bao img { vertical-align: middle; padding-left: 2px;}
.mailForm .f_submit { float: right; width: 95px; height: 38px; text-align: center; padding: 0 0; background:#AA1717; border: 1px solid #AA1717; color: #fff; font-size: 14px; font-weight: bold;border-radius:3px; cursor: pointer; _margin: 5px;}
.list_dl { margin: 0 15px;}
.list_dl dt { margin-bottom: 5px; color: #666;}
.list_dl dt .p_fl { float: right;}
.list_dl dt .color { color:#c7000a; font-size: 14px; margin-right: 5px;}
.list_dl dd { text-indent: 20px; border-bottom: 1px solid #dcdcdc; padding: 0 0 5px; margin-bottom: 15px;}
/*企业内容列表详情页*/
.tabJs {border: 1px solid #dcdcdc; border-top: none; padding: 10px 15px; min-height: 800px;}
.tabJs ul { overflow: hidden; zoom: 1; }
.tabJs li { float: left; width: 130px; text-align: center; margin-right: 1px;}
.tabJs li a { color: #333; background: #f4f4f4; display: block; padding: 5px 0;}
.tabJs .on a,.tabJs li a:hover { background: #c7000a; color: #fff; text-decoration: none;}
.tab01  { }
.tab01 table { width: 100%;}
.tab01 th {  text-align: center; vertical-align: middle; font-size: 14px; font-weight: normal; background: #f4f4f4; border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc; border-top: 1px solid #c7000a; padding: 4px 0;}
.tab01 td {  text-align: center; vertical-align: middle; padding: 8px 0 5px; border-bottom: 1px dashed #dcdcdc; color: #333;}
.tab01 td .red_color { font-size: 12px;}
.tab01 .taLeft { padding-left: 10px; text-align: left;}
.tab01 td a { color: #333;}
.tab01 td a:hover { color: #b70000;}

/*用户查询不到关键词*/
.title_no_box { border: 1px solid #6AC9F3; border-radius:5px; margin-top: 80px; width: 600px; background:#F4FDFF; text-align: center; padding: 80px 0; font-size: 16px;}
.title_no_box a{ color:#30AEDD; font-size: 18px; font-weight: bold; text-decoration: underline;}
.title_no_box a:hover{ color:#8BC325; text-decoration: none;}

/*用户自己填写表单*/
.form_com{ background:#F4FDFF; border: 1px solid #dcdcdc; margin: 0; border-radius:3px;}
.form_com .mail_tab { width: 100%; }
.form_com .mail_tab p img{width:550px;}
.form_com .mail_tab th,.mailForm .mail_tab td{ border-bottom: 1px solid #dcdcdc; padding: 10px 0; vertical-align: middle;}
.form_com .mail_tab th{ text-align: right;}
.form_com .mail_tab input { width: 220px;  height:25px;}
.form_com .mail_tab textarea { width: 550px; height: 120px; }
.form_com .mail_tab select  { width: 80px; height: 25px; border: 1px solid #30aedd;  border-radius:3px; }
.form_com .cAddress,.form_com .cRegion { width: 450px !important;}
.form_com .cName { width: 140px !important;}
.form_com  .jing_bao { _margin-top: 8px;}
.form_com .div_submit { overflow: hidden; zoom: 1; padding: 10px 10px;}
.form_com .c_submit { float: right; width: 80px; text-align: center; padding: 4px 0; background: #4fcaf3; border: 1px solid #4fcaf3; color: #fff; font-size: 14px; font-weight: bold;border-radius:3px; cursor: pointer; margin-right: 10px;_padding: 6px 0 2px;}
/*wy*/
.beian_winBG {width: 515px;margin-top: -14%;left: 50%;margin-left: -17%;position: absolute;background: #f9fafa;top: 50%;border: #c3d4d1 1px solid;z-index: 1000;}
.bg {position: absolute;z-index: 999;background: #000;filter: alpha(opacity=50);opacity: 0.5;-moz-opacity: 0.5;left: 0;top: 0;height: 100%;width: 100%;}
.Dialog {width: 515px;}
.Dialog_tit {background:#c7000a;width: 515px;height: 45px;}
.Dialog_tit h1 {font-size: 16px;font-weight: normal;line-height: 45px;color: #fff;padding-left: 15px;}
.Dialog_tit span {margin: 13px 15px 0 0;}
.Dialog_bot {}
.Dialog_in {width: 220px;height: 30px;line-height: 30px;}
.Dialog_bot ul {padding: 0 0 10px 50px;}
.Dialog_bot ul li {padding: 10px 0;}
.Dialog_bot ul li input {vertical-align: middle;}
.Dialog_bot ul li span {padding-left:10px;font-size:12px;}
.Dialog_bot ul li a {color: #666;}
.Dialog_bot form label {width:75px;float: left;text-align: right;vertical-align: middle;padding-top: 5px;}
#but,.but {width: 100px;height: 40px;background:#c7000a;color: #fff;font-weight: bold;font-size: 16px;border: 0px;}
.log_input{ width:250px; height:30px;}
.log_inputa{ width:100px; height:30px;}
#log_inputa{ width:100px; height:30px;}

/* tip */
#vtip{position:absolute; border: 1px solid #CCC; background:#FFF; padding: 4px 12px; color:#F00; z-index: 999; _width:200px;}
#vtip .l_angle, #vtip .l_angle2{position:absolute; top: -14px; left:8px; height:0; width:0; overflow: hidden; font-size: 0; line-height: 0; border-color:transparent transparent #CCC transparent; border-style:dashed dashed solid dashed; border-width:7px;}
#vtip .l_angle2{top: -10px; left:10px; border-color:transparent transparent #FFF transparent;border-width:5px;}
.tips{ display:inline;  float:right; padding-right:30px; padding-top:5px; color:#AE2D24;}
/*后台公司信息添加、编辑*/
.tab_tit{height:36px; padding-left:10px;}
.tab_tit li{float:left; margin-top:8px; margin-right: 6px; background-color:#4fcaf3; border-radius: 5px 5px 0 0; border-width:1px 1px 0 1px; border-style: solid; border-color:#4fcaf3; height: 27px; line-height:27px; padding: 0 10px 0 10px;}
.tab_tit a:link, .tab_tit a:visited{color:#FFF; text-decoration: none;}
.tab_tit a:hover{color:#0e7a9f;}
.tab_tit .on{background-color:#fff; border-color:#8f8f8f;}
.tab_tit .on a:link, .tab_tit .on a:visited{color:#4d4d4d; text-decoration: none; font-weight:bold;}
.tab_tit .on a:hover{color:#0e7a9f;}

.list-ipt-width input{width:100%;}
/*增加关闭系统与退出按钮的样式*/
.sys_toggle {background:url(../images/systoggle.png) no-repeat;}
.log_out {background:url(../images/logout.png) no-repeat;}

.left_thumb {}
.left_thumb a{display:block;  position:relative; outline:none; padding-bottom: 50px; float: left;}
.left_thumb img{width:50px; height:50px; position:absolute; left:0; top: 0;}
.left_thumb img.on{}
.left_thumb img.hover{border:none;}


/*增加管理员时选择角色的样式*/
/* 标签区域 开始*/
.hobbybox{border:1px solid #ccc;height:85px;overflow-y:scroll;width:600px;margin:8px;display:inline-block;}
.hobbybox li{float:left;height:28px;padding:5px 0 5px 10px;width:87px;}
.hobbybox2{display: block;}
.hobbybox2 li{float:left;height:28px;padding:5px 5px 5px 0px;width:87px;}
.intbtn{background:#effbfe;border:1px solid #b6dbed;color:#39f;cursor:pointer;height:31px;line-height:31px;text-align:center;width:87px;}
.intaddbtn{border:0 none;background:#effbfe;border:1px solid #b6dbed;color:#39f;cursor:pointer;height:31px;line-height:31px;text-align:center;width:87px;}
/* 角色选中后变灰*/
.li_selected input{color:grey;cursor:default}