/*----ff，+ie7，_ie6----*/
/** 清除内外边距 **/
body, h4, h5, h6, p, dl, dt, dd, ul, ol, menu, li, pre, form, fieldset, legend, button, input, textarea{margin: 0;padding: 0;}
/** 设置默认字体 **/
body, button, input, textarea /* for ie */{font: 12px/1.5 '宋体', tahoma, arial, sans-serif;}
h4, h5 {font-size: 100%;}
address, cite, em, var {font-style: normal;}/* 将斜体扶正 */
code, kbd, pre, samp {font-family: courier new, courier, monospace;} /* 统一等宽字体 */
small {font-size: 12px;}/* 小于 12px 的中文很难阅读，让 small 正常化 */
section,article,aside,header,footer,nav,figure{display:block;}
ul, ol, menu {list-style: none;}/* 重置列表元素 */

sup {vertical-align: text-top;}/* 重置，减少对行高的影响 */
sub {vertical-align: text-bottom;}

/** 重置表单元素 **/
legend {color: #666;} /* for ie6 */
img {border: 0;} /* img 让链接里的 img 无边框 */
button, input, select, textarea {font-size: 100%;} /* 使得表单元素在 ie 下能继承字体大小 */
input:focus, textarea:focus{outline:none;}/* 注：optgroup 无法扶正 */
html{overflow-y:scroll;}

/*---- alllink ----*/
a:link, a:visited{color:#333; text-decoration: none;}
a:hover{color:#ae2d24;}
a.white:link, a.white:visited{color:#FFF; text-decoration: none;}
a.white:hover{color: #CCC;}
a.ti{color: #a72726;;padding: 5px;}

/* iconfont */
@font-face {font-family: 'iconfont';src: url('/public/fonts/back/iconfont.eot');src: url('/public/fonts/back/iconfont.eot?#iefix') format('/public/fonts/back/embedded-opentype'), url('/public/fonts/back/iconfont.woff') format('woff'), url('/public/fonts/back/iconfont.ttf') format('truetype'), url('/public/fonts/back/iconfont.svg#iconfont') format('svg');}
.iconfont{font-family:"iconfont" !important;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale; cursor:pointer;}


.header{height: 71px; border-bottom: 6px solid #a72726; width:100%;}
#logo{background:url(/public/img/sprite2.png) no-repeat -327px -432px; width: 595px; height: 71px; margin-right: 30px; float: left;}
.logo_r{ color:#EEE; font:16px/20px "Microsoft Yahei",arial;   margin: 45px 346px; position:absolute;}
.top_r{float: right; margin-top: 40px; *margin-top: 36px; overflow: hidden;}
.top_r a:link, .top_r a:visited{color:#666; text-decoration: none; font-size: 23px;}
.top_r a:hover{color: #F60;}

.warp{overflow: hidden;zoom:1;}
.warp:after {content: '\20';display: block;clear: both;}
.warp_bg{background: url(/public/img/sprite.png) repeat-y -922px 0;}

.reg_warp{width: 990px; margin: 0 auto; padding-top: 20px;}
.regist_table th{vertical-align: middle; text-align: right; padding-right: 15px;}
.regist_table td{padding: 10px 0;}
.regist_table em{color: #e50014;}
.reg_txt{border:1px solid #DDD; height: 28px; width: 300px;}
.sms_send{font-size: 24px; color: #F60; vertical-align: middle; padding-left: 15px;}
.reg_btn,.reg_lbtn{width: 120px; height: 30px; line-height: 30px; text-align: center; background-color: #e50014; color: #FFF; border:0; font-size: 14px; cursor: pointer;}
.reg_lbtn{display: block; margin: 0 auto;}
a.reg_lbtn{color: #FFF;}

.impower_box{border:1px solid #d5d5d5; background-color: #f1f1f1; padding: 15px;}
.impower_box_min{border:1px solid #d5d5d5; padding: 10px 15px; overflow: auto; background-color: #fff; height: 170px;}

.reg_step1, .reg_step2, .reg_step3{background: url(/public/img/reg_step.png) no-repeat; height: 87px; margin-bottom: 10px;}
.reg_step2{background-position: 0 -87px;}
.reg_step3{background-position: 0 -174px;}

.reg_suc{text-align: center; color: #F60; font-size:18px; font-family: '微软雅黑'; margin-top: 60px;}

.psdiv0,.psdiv1,.psdiv2,.psdiv3,.psdiv4{position:relative;height:30px;color:#666}/*密码强度容器*/
.strongdepict{position:absolute; width:300px; left:0px; top:3px}/*密码强度固定文字*/
.strongbg{position:absolute;left:0px;top:22px;width:302px;height:10px;background-color:#E0E0E0; font-size:0px;line-height:0px}/*灰色强度背景*/
.strong{float:left;font-size:0px;line-height:0px;height:10px}/*色块背景*/
.psdiv0 span{display:none}.psdiv1 span{display:inline;color:#F00}.psdiv2 span{display:inline;color:#C48002}.psdiv3 span{display:inline;color:#2CA4DE}.psdiv4 span{display:inline;color:#063}
.psdiv0 .strong{ width:0px}.psdiv1 .strong{ width:25%;background-color:#F00}.psdiv2 .strong{ width:50%;background-color:#F90}.psdiv3 .strong{ width:75%;background-color:#2CA4DE}.psdiv4 .strong{ width:100%;background-color:#063}

/*表格*/	
.list-table{width: 100%;border-top: 1px solid #d3dbde;border-right: 1px solid #d3dbde;text-align: center;}
.list-table th{height: 37px;background:#ae2d24;line-height: 37px;border-left: 1px solid #d3dbde;color:#FFF;}
.list-table td{border-bottom: 1px solid #d3dbde;border-left: 1px solid #d3dbde;padding:12px;}

/*表格2*/	
.list-table2{width: 100%;border-top: 1px solid #d3dbde;border-right: 1px solid #d3dbde;text-align: center;}
.list-table2 th{height: 28px;background:#4fcaf3;line-height: 28px;border-left: 1px solid #d3dbde;color:#FFF;}
.list-table2 td{border-bottom: 1px solid #d3dbde;border-left: 1px solid #d3dbde;padding:5px;}

/*纬度表输出*/
.sc-table{width:100%; border:1px solid #DFDFE2;  border-collapse:collapse; color:#505051;  font: 12px/1.5 "宋体",tahoma,arial,sans-serif; margin-top:22px;}
.sc2-table{width:100%; border:1px solid #DFDFE2;  border-collapse:collapse; color:#505051;  font: 12px/1.5 "宋体",tahoma,arial,sans-serif; margin-top:-1px;}
.grey{ color:#666666;}.blue{ color:#3286ba; font-weight:bold;}
.sc_td ,.sc_th{border:1px solid #DFDFE2; padding:8px;}.cc_tr{ height:28px; }
.sc2-table tr{ height:28px;} .sc-table tr{ height:28px;}
.sc_th{  background:#F3F3F4; padding-right:3px;font-weight: bold;}  
.center{ text-align:center;}.right{ text-align:right;}.left{ text-align:left;}
.top-h1{ text-align:center;height:15px;}
.top-span{ text-align:center; font: 14px/1.5 "微软雅黑",tahoma,arial,sans-serif; display:block;}

/*分页*/
.xt-page{float: right;margin-top:18px;}
.xt-page-ul {margin-bottom: 0;margin-left: 0;color: #999; cursor:default; background-color:transparent;}
.xt-page-li {display: inline;}
.xt-page-a, .xt-page-span {float: left;padding: 4px 12px;line-height: 20px;text-decoration: none;background-color: #fff;margin-left:10px;border: 1px solid #d3dbde;color:#666;}
.xt-page-ul .active a, .xt-page-ul .xt-page-span {color: #999;cursor: default;}
.xt-page a:hover, .xt-page-ul .active a, .xt-page-ul .xt-page-span {background-color: #efefef;color:#333;}

.xt-page a{padding: 4px 8px;/*float: left;line-height: 20px;margin-left:10px;*/text-decoration: none;background-color: #fff;border: 1px solid #d3dbde;color:#666;}
.xt-page a:hover, .xt-page a.act {background-color: #a72726;color: #fff;border: 1px solid #FF4000;}

/*分页2*/
.xt-page2{float: right; margin-top:18px;}
.xt-page2 a{padding: 4px 8px;/*float: left;line-height: 20px;margin-left:10px;*/text-decoration: none;background-color: #fff;border: 1px solid #d3dbde;color:#666;}
.xt-page2 a:hover, .xt-page2 a.act {background-color: #30aedd;color: #fff;border: 1px solid #30aedd;}

#left,.left_inner,#right{margin-bottom: -10000px; padding-bottom: 10000px; min-height:650px;}
/*------- #left ----------------*/
#left{float: left; width:180px;}
.lnav{border-bottom:1px solid #DFDFE2; display: block; border-bottom:1px solid #FFF;}
.lnav_dt{line-height: 36px; text-indent: 30px; font-weight: bold; border-bottom:1px solid #DFDFE2; color:#a72726;}
.lnav_dd{text-indent: 30px; border-bottom:1px solid #DFDFE2; border-top: 1px solid #FFF; padding: 8px 0;}
.lnav_dd a{display: block; line-height: 24px;}

/*------- #right ----------------*/
#right{width: auto; margin-left:182px; height:100%;}

.mbox{zoom:1; margin: 0 10px; min-height:200px;}
.mbox:after{content: '\20';display: block;clear: both;}

.com_ltop_p{height: 35px; line-height: 35px;}
.resumeBody{border-width:1px; border-style:solid; border-color:#eee; border-top:2px solid #a72726; padding: 15px;;}
.qr_code{float: right; margin: 20px 40px 0 0;}
.summary{margin-bottom: 10px; font-size: 13px; line-height: 200%; height: 140px;}
.summary h1{font-size: 18px; padding: 0; margin: 0 0 8px 0; font-family: '微软雅黑';}
.details dt{border-left:4px solid #a72726; background-color: #DDD; line-height: 30px; text-indent: 8px; color: #a72726;}
.details dd{padding: 10px 10px;}
.details dd span{font-weight: bold; color: #a72726; font-size: 14px;}
.ver-line{color: #00c6ff;}
.comname14{font-size: 13px;}

.pw_table{}
.pw_table th{width: 120px; text-align: right; padding-right: 8px;}
.pw_table td{padding: 10px 0;}
.pw_txt{line-height: 30px; height:30px; width: 300px; border:1px solid #ddd;}
.pw_btn{width: 120px; height: 30px; margin: 8px 0 0 170px; line-height: 30px; background-color: #a72726; color: #FFF; text-align: center; border:0; cursor: pointer; font-weight: bold;}

.keynl{font-weight: bold;}


/*------- 统一背景色 ----------------*/
.s_b1{background-color: #c4d8ed;}
.s_b2{background-color: #eef7fd;}
.s_b3{background-color: #CCC;}

/*------- 常用字色 ----------------*/
.c_b1{color: #135294;}

/*------- 按钮 ----------------*/
select, input{ vertical-align:middle;}
.blue_btn{background-color: #a72726; border:1px solid #FF4000; border-radius: 4px; width: 86px; text-align: center; line-height:24px; color: #FFF; cursor:pointer; display:inline-block;}
.c_btn{border: 1px solid #EEF7FD; font-family:'微软雅黑'; padding: 2px 20px; line-height: 1; height:26px; cursor: pointer; background-color:#6CBEE7; color: #FFF; overflow: visible;/*IE6 IE7*/}
.d_btn{border: 1px solid #EEF7FD; font-family:'微软雅黑'; padding: 2px 20px; line-height: 1; background-color:#EEE; color: #999; overflow: visible;/*IE6 IE7*/}

/*------- input ----------------*/
.its{border:1px solid #CCC; height: 23px; line-height: 23px; *height: 21px; *line-height: 21px; color:#666; margin-left:0; background:#FFF url(/Skin/images/iconlist.gif) no-repeat 4px -641px; padding-left: 24px;}
.its_pic{background-position: 4px -693px;}
.its_file{background-position: 4px -586px;}
.its_WebCal{background-position: 4px -372px; width: 100px;}
.its_WebCalD{background-position: 4px -372px; width: 67px;}
.its_people{background-position: 4px -855px;}
.its_l{border:1px solid #CCC; height: 16px; line-height: 16px;}
.i_widthl_s3{width: 340px;} .i_widthl_s2{width: 260px;} .i_widthl_s1{width: 200px;}
.i_width{width: 138px;} .i_widthl{width: 178px;}
.i_widthm{width: 120px;} .i_widths{width: 79px;} .i_widths_s1{width: 60px;}
.txtarea{border: 1px solid #CCC;}
.rt_width{width: 162px; height: 200px;}

#strength_L, #strength_M, #strength_H{width:68px; background: #CCC; height: 3px; overflow: hidden; display: inline; float: left;}
.tip_err{float: left; position: absolute; font-style: normal; color: #F00; line-height: 20px; text-indent: 4px;}

/* tip */
#vtip{position:absolute; border: 1px solid #CCC; background:#FFF; padding: 4px 12px; color:#F00; z-index: 999; _width:200px;}
#vtip .l_angle, #vtip .l_angle2{position:absolute; top: -14px; left:8px; height:0; width:0; overflow: hidden; font-size: 0; line-height: 0; border-color:transparent transparent #CCC transparent; border-style:dashed dashed solid dashed; border-width:7px;}
#vtip .l_angle2{top: -10px; left:10px; border-color:transparent transparent #FFF transparent;border-width:5px;}


/*--布局类--*/
.clearfix{zoom:1;}/*--用来清除浮动的div--*/
.clearfix:after {content: '\20';display: block;clear: both;}
.hr_6, .hr_10, .hr_15, .hr_20{clear: both;font-size: 1px;line-height: 1px;}
.hr_6{height: 6px;}.hr_10{height: 10px;}.hr_15{height: 15px;}.hr_20{height: 20px;}
.sel_border{border:1px solid #CCC; color:#999; padding: 3px; background-color:#f8f8f8; width:auto; display:inline-block; vertical-align: middle; zoom:1;}
.sel_border:after {content: '\20';display: block;clear: both;}
.sel_border span{overflow:hidden; height:15px; background-color:#666; position:static;}
.sel_border select{margin:-1px; font-size:13px;}

/** 浮动 **/
.fl{float:left;} .fr{float:right;}
.fld{float:left;_display: inline;} .frd{float:right;_display: inline;}/* FOR IE6 margin padding */
/*-- 位置 --*/
.tal{text-align:left;} .tar{text-align:right;} .tac{text-align:center;}
.mp0{margin:0; padding:0;}
.mlrauto{margin-left: auto; margin-right: auto;}
.mt8{margin-top:8px;} .mt10{margin-top:10px;} .mt12{margin-top:12px;}
.mr8{margin-right:8px;} .mr10{margin-right:10px;} .mr12{margin-right:12px;}
.mb8{margin-bottom:8px;} .mb10{margin-bottom:10px;} .mb12{margin-bottom:12px;}
.mt20{ margin-bottom:20px;} .ml8{ margin-left:8px;}
.mtb8{margin-top:8px; margin-bottom:8px;}.m3{ margin:3px;}
.mtb10{margin-top:10px; margin-bottom:10px;}
.mtb12{margin-top:12px; margin-bottom:12px;}
.ml4{margin-left:4px;}
.mlr8{margin: 0 6px;}, .mlr10{margin: 0 10px;}
.pt4{padding-top: 4px;} .pt8{padding-top: 8px;} .pt12{padding-top: 12px;}
.pb4{padding-bottom: 4px;} .pb8{padding-bottom: 8px;} .pb12{padding-bottom: 12px;}
.pl4{padding-left: 4px;}.pl8{padding-left:8px;}.pl18{padding-left: 18px;}
.ptb8{padding: 8px 0;}.ptb16{padding: 16px 0;}
.p10{padding:10px;} .p12{padding:12px;} .p20{padding:20px;}
/*-- 字体类 --*/
.fm_t{font-family:tahoma;}
.txi2, .ti2em{text-indent: 2em;}
.fs12p {font-size: 12px;} .fs14p {font-size: 14px;} .fs16p {font-size: 16px;}
.fs18p {font-size: 18px;} .fs20p {font-size: 20px;}
.co0{color: #000;} .co3{color: #333;} .co6{color: #666;} .co9{color: #999;}
.coc{color: #CCC;} .cod{color: #DDD;} .coe{color: #EEE;} .cof{color: #FFF;}
.cred{color: #F00006;}
.fwb{font-weight: bold;}
/*-- 其他 --*/
.table_col{border-collapse:collapse; border-color:#EEE;}
.table_col td,.table_col th{line-height: 22px;}
.oh{overflow: hidden;} .oa{overflow: auto;} .os{overflow: scroll;}
.dn{display: none;} .db{display: block;} .di{display: inline;} .dib{display:inline-block;}
.vam{vertical-align: middle;}
.vat{vertical-align: top;}
.curp{cursor: pointer;}
.radio_vamr6{vertical-align:middle; margin-right: 8px;}
.tabRow1{background: #F4F4F4;}
.w100p{width:100%;} .w90p{width:90%;} .w50p{width:50%; _width:49.9%;}
.por{position:relative;} .poa{position:absolute;}

.mo_pop{width: 500px; position: absolute; left:50%; margin-left:-250px; top:20%; border:1px solid #CCC; border-radius:6px; background-color: #FFF; padding: 15px; display: none;}
.mo_pop_close{font-size: 14px; text-align: right; border-bottom:1px dotted #CCC; padding-bottom: 10px; margin-bottom: 15px; cursor: pointer; font-family: arial;}

.xt-item1,.xt-item2{ border:1px solid #a72726; padding-left:15px; line-height:40px;}
.xt-item2{  margin: 25px 0;}

.xt-nav{ border-bottom:1px dashed #a72726;}
.xt-nav span{font-weight: bold; color:#666666;font-size: 14px;}

/*验证码*/
.xt-yzm{ margin: 25px 0 25px;}
.xt-yzm i{  line-height:38px; float:left;color:#a72726; font-size:30px;}
.xt-yzm em{ color:red; margin:1px 5px 0 5px; float:left;}
.xt-yzm-input{border: 1px solid #FF4000;font-size: 16px;line-height: 18px;margin-bottom: 20px;margin-top: 5px;padding: 4px 2px 4px 0px;z-index: 20;text-align:center; width:340px; float:left;}
.xt-yzm-img{cursor: pointer;left: 10px;margin-right: 20px;position: relative;top: 5px;width:76px; height:28px;}
.xt-yzm-a{color: #3680e0;text-decoration: none;line-height:35px;padding-right: 12px;}
.xt-yzm-span,.xt-yzm-span2{ letter-spacing:5px;width: 65px;}
.xt-yzm-span{width: 65px;}
.xt-yzm-span2{width:128px; margin-right:20px;}

/*友情提示*/
.red-span{ color:#CC0000; font-size:14px;font-weight: bold;line-height:30px;}
.xt-msg2{ padding-left:22px;}
.xt-msg2 p{ line-height:30px;color:#333333;}

/*维度表old*/
.wd-base{ margin-bottom:20px;}
.wd-table{width:99%; border:1px solid #DFDFE2; border-width:thin; border-collapse:collapse; color:#505051;  font: 12px/1.5 "宋体",tahoma,arial,sans-serif;}
.wd_td ,.wd_th{border:1px solid #DFDFE2; padding:8px;}.wd_tr{ height:42px; }
.wd_th{ text-align:right; width:125px; background:#F3F3F4; padding-right:20px; }  
.wd-table-i{ width:302px;height:25px; border:1px solid #DFDFE2;}
.wd-tab{ width:132px;height:25px; border:1px solid #DFDFE2;}
.wd-tabs{width:305px;height:25px; border:1px solid #DFDFE2;}
.wd-table textarea{ height:75px; width:302px;border:1px solid #DFDFE2; }
.wd-h4{ color:#333333; margin-bottom: 10px;}
.blue{ color:#3286ba; font-weight:bold;}
.wd-base p{ margin-bottom: 10px;}
.wd-btn{ text-align:center;}
.mb15{ margin-bottom:15px;}

/*搜索*/
/*.search{ margin-bottom:10px; }*/
sup.red {color:#F00;}