
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiangyou:before { content: "\e600"; }
.icon-gongsi:before { content: "\e601"; }
.icon-feiji:before { content: "\e602"; }
.icon-zhifeiji:before { content: "\e603"; }
.icon-youxiang:before { content: "\e604"; }
.icon-dianhua:before { content: "\e605"; }
.icon-dianhua1:before { content: "\e606"; }
.icon-youxiang1:before { content: "\e607"; }
.icon-dianhua2:before { content: "\e608"; }
.icon-share:before { content: "\e609"; }
.icon-gongsi1:before { content: "\e60a"; }
.icon-youxiang2:before { content: "\e60b"; }
.icon-youxiang3:before { content: "\e60c"; }
.icon-dianhua3:before { content: "\e60d"; }
.icon-iconfontxiangyou:before { content: "\e60e"; }
.icon-youxiang4:before { content: "\e60f"; }
.icon-dianhua4:before { content: "\e610"; }
.icon-dianhua5:before { content: "\e611"; }
.icon-fenxiang:before { content: "\e612"; }
.icon-dizhi:before { content: "\e613"; }
.icon-youxiang5:before { content: "\e614"; }
.icon-fenxiang1:before { content: "\e615"; }
.icon-dianhua6:before { content: "\e616"; }
.icon-share1:before { content: "\e617"; }
.icon-telephone:before { content: "\e618"; }
.icon-fenxiang2:before { content: "\e619"; }
.icon-dianhua7:before { content: "\e61a"; }
.icon-dizhi1:before { content: "\e61b"; }
.icon-feiji1:before { content: "\e61c"; }
.icon-dianhua8:before { content: "\e61d"; }
.icon-feiji2:before { content: "\e61e"; }
.icon-dizhi2:before { content: "\e61f"; }
.icon-dianhua9:before { content: "\e620"; }
.icon-dianhua10:before { content: "\e621"; }
.icon-dianhua11:before { content: "\e622"; }
.icon-dizhi3:before { content: "\e623"; }
.icon-gongsixinxi1:before { content: "\e624"; }
.icon-dizhi4:before { content: "\e625"; }
.icon-dizhi5:before { content: "\e626"; }
.icon-youxiang6:before { content: "\e627"; }
.icon-dianhua12:before { content: "\e628"; }
.icon-dianhua13:before { content: "\e629"; }
.icon-xiangyou1:before { content: "\e62a"; }
.icon-icon:before { content: "\e62b"; }
.icon-xiangright:before { content: "\e62c"; }
.icon-dizhi6:before { content: "\e62d"; }
.icon-feiji3:before { content: "\e62e"; }
.icon-dizhi7:before { content: "\e62f"; }
.icon-youxiang7:before { content: "\e630"; }
.icon-mycompany:before { content: "\e631"; }
.icon-youxiang8:before { content: "\e632"; }
.icon-fenxiang3:before { content: "\e633"; }
.icon-tel:before { content: "\e634"; }
.icon-dianhua14:before { content: "\e635"; }
.icon-dizhi8:before { content: "\e636"; }
.icon-1-copy-copy:before { content: "\e637"; }
